body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 46px;
    font-weight: 800;
    margin: 0 0 75px;
    text-align: left;
}

h2 {
    font-size: 2.0833vw;
    line-height: 1.2;
    font-weight: 700
}

p {
    font-size: 12.5px;
    font-weight: 600;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

section {
    padding: 50px 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

header {
    background: url(../img/headerBackground.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    min-height: 400px;
}

section {
    height: 100vh;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
}

.topnav {
    margin-top: 50px;
}

.topnav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    font-weight: bold;
    transition: 0.5s ease-in-out all;
    font-size: 10pt;
    margin-right: 6%;
}

.active {
    color: white;
}

.topnav .icon {
    display: none;
}

.menu {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.menu a {
    color: #fff;
    font-size: 10pt;
    display: inline-block;
    position: relative;
    transition: .5s ease-in-out;
}

.topnav a:hover {
    color: #b86ba3;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 90vh;
}

.infoText {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #fff;
    width: 50%;
    justify-content: flex-start;
}

.infoText p {
    font-weight: 200;
}

.buttonsMain {
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.buttonsMain a {
    margin-right: 20px;
}

.button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 7.5pt;
    width: 175px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    border: none;
    transition: .5s ease-in-out;
}

.emptyButton {
    border: 3px solid #b86ba3;
}

.emptyButton:hover {
    box-shadow: none;
    color: #b86ba3;
}

.gradientButton {
    background: linear-gradient(to right, #e38f73, #b86ba3);
}

.gradientButton:hover {
    box-shadow: none;
}

.infoBoxes {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: auto;
}

.infoBox {
    width: 160px;
    background: #fff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    margin: 0 0 0 25px;
}

.infoBox:nth-child(1),
.infoBox:nth-child(2) {
    margin-bottom: 25px;
}

.infoBox a {
    width: 100%;
}

.infoBox p {
    padding-top: 15px;
    font-weight: bold;
    font-size: 10px;
}

.infoBox img {
    padding: 10px 0 15px;
}

#secondSection {
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#secondSection .title {
    width: 60%;
}

.agencyCriterion a {
    display: block;
    margin: 0 auto;
}

.criterionBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.criterion:nth-child(1),
.criterion:nth-child(3) {
    margin-right: 125px;
}

.criterion {
    width: 315px;
    margin-bottom: 80px;
    height: auto;
    position: relative;
}

#secondSection a {
    font-weight: 600;
    font-size: 12.5px;
    margin-top: 20px;
}

#trendsPdf {
    background-color: #000;
    height: auto;
}

#trendsPdf .container {
    display: flex;
    flex-direction: row;
    height: auto;
    flex-wrap: wrap;
}

#trendsPdf .group {
    margin: 35px 0 20px;
}

#trendsPdf h1 {
    width: 70%;
    margin: 0;
}

#trendsPdf .getPdf {
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-right: 60px;
}

#trendsPdf input {
    background-color: #000;
}

#dwnldPdfButton {
    width: 100%;
}

#trendsPdf label,
#trendsPdf h1 {
    color: #fff;
}

#thirdSection {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.desriptionLineWidth100 {
    width: 100%;
}

.contactUs {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
    height: auto;
}

.applicationForm {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.applicationForm a {
    margin-top: 5%;
}

form {
    margin-top: 5%;
}

.mailPhone {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 12px;
    padding: 10px;
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #b86ba3;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
    from {
        background: #b86ba3;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #b86ba3;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #b86ba3;
    }
    to {
        width: 0;
        background: transparent;
    }
}

#applicationButton {
    cursor: pointer;
}

.contactInformation {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: right;
    align-items: flex-end;
}

.ourSocialNetworks {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ourContacts {
    margin-bottom: 25px;
}

.ourContacts>p {
    margin-bottom: 20px;
}

.ourSocialNetworks a {
    height: 40px;
    width: 40px;
    border: 2px solid #b86ba3;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    margin-top: 10%;
    transition: 0.5s ease-in-out all;
}

.ourSocialNetworks a:hover {
    box-shadow: 0 0 0 0;
}

.ourSocialNetworks img {
    width: 100%;
    display: flex;
    align-items: center;
}

.width45 {
    width: 45%;
}

footer p {
    height: 2vh;
    display: flex;
    color: #999;
    font-size: 14px;
    justify-content: center;
}

.priceBoxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.priceBox {
    width: 275px;
    height: 450px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.priceBox a {
    width: 100%;
}

.width80pers {
    width: 80%;
}

.priceHeading h5 {
    background: -webkit-linear-gradient(#b86ba3, #e38f73);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.priceHeading span {
    font-size: 30px;
}

.priceHeading p {
    font-size: 11.5px;
    width: 80%;
    margin: 0 auto;
}

.priceBox ul {
    list-style-type: none;
    padding: 0;
    font-size: 15px;
}

.priceBox li {
    padding-top: 4%;
}

.greyBackground {
    background-color: #fbfbfb;
}

.textCenter {
    text-align: center;
}

/* WEB Page */

#ourLastWorks .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mockUp {
    width: 50%;
}

.mockUp img {
    width: 100%;
}

.projectDescription {
    padding: 50px 70px;
    width: 50%;
}

.projectDescription a {
    color: #b86ba3;
    margin-top: 50px;
}

.customWebProjects .container {
    display: flex;
    flex-direction: row;
}

.customProjectPrice {
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.purpleText {
    color: #b86ba3;
}

.customWebProjects .projectInfo {
    width: 51%;
}

.customWebProjects {
    background-color: #fbfbfb;
}

.customWebProjects .priceBox {
    background-color: #fff;
}

.logo {
    position: relative;
    width: 100%;
    /* for IE 6 */
}

.logo img {
    top: 0;
    left: 500px;
}

.logoText {
    position: absolute;
    top: 400px;
    left: 0;
    width: 100%;
}