body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

header {
    background: url(../img/headerBackground.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    min-height: 400px;
}

section {
    height: 100vh;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
}

.m-menu-link {
    display: none;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 10vh;
    font-weight: bold;
}

.menu {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 10pt;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.menu a::before {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: #fff;
    transition: width .5s ease-in-out, left .5s ease-in-out;
    left: 50%;
    bottom: -3px;
}

.menu a::after {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: #fff;
    transition: width .5s ease-in-out;
    left: 50%;
    bottom: -3px;
}

.menu a:hover::before {
    width: 50%;
    left: 0;
}

.menu a:hover::after {
    width: 50%;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height:  90vh;
}

.infoText {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #fff;
    width: 50%;
    justify-content: flex-start;
}

.infoText p {
    font-weight: 200;
}

.buttonsMain {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 7.5pt;
    width: 175px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    border: none;
}

.emptyButton {
    border: 1px solid #b86ba3;
}

.gradientButton {
    background: linear-gradient(to right, #e38f73, #b86ba3);
}

.infoBoxes {
    text-align: center;
    width: 330px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 30px;
}

.infoBox {
    width: 150px;
}

.infoBox a {
    width: 100%;
}

.infoBox p {
    padding-top: 15px;
    font-weight: bold;
    font-size: 10px;
}

.infoBox img {
    padding-top: 10px;
}

.infoAboutBox {
    background: #fff;
    height: 125px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

#secondSection {
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#secondSection .container {
    width: 73%;
}

#dwnldPdfButton{
    margin: 0 auto;
    margin-top: 60px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.agencyCriterion h1 {
    padding-top: 75px;
    margin: 0 auto;
}

.agencyCriterion a {
    display: block;
    margin: 0 auto;
}

.criterionBox {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 7%;
}

.criterion {
    width: 45%;
    margin-top: 45px;
    height: auto;
    position: relative;
}

.listItem {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.listItem h5 {
    margin: 5px;
}

.agencyCriterion a {
    margin: 0 auto;
}

#thirdSection {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.desriptionLineWidth100 {
    width: 100%;
}

.contactUs {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
    height: auto;
}

.applicationForm {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.applicationForm a {
    margin-top: 5%;
}

form {
    margin-top: 5%;
}

.mailPhone {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 12px;
    padding: 10px;
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #b86ba3;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
    from {
        background: #b86ba3;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #b86ba3;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #b86ba3;
    }
    to {
        width: 0;
        background: transparent;
    }
}

.contactInformation {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: right;
    align-items: flex-end;
}

.ourSocialNetworks {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ourSocialNetworks a {
    height: 40px;
    width: 40px;
    border: 2px solid #b86ba3;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    margin-top: 10%;
}

.ourSocialNetworks img {
    width: 100%;
    display: flex;
    align-items: center;
}

.width45 {
    width: 45%;
}

footer p {
    height: 2vh;
    display: flex;
    color: #999;
    font-size: 14px;
    justify-content: center;
}

.priceBoxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10%;
}

.priceBox {
    width: 27%;
    height: 450px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.priceBox a {
    width: 100%;
}

.width80pers {
    width: 80%;
}

.priceHeading h5 {
    background: -webkit-linear-gradient(#b86ba3, #e38f73);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.priceHeading span {
    font-size: 30px;
}

.priceHeading p {
    font-size: 11.5px;
}

.priceBox ul {
    list-style-type: none;
    padding: 0;
    font-size: 15px;
}

.priceBox li {
    padding-top: 4%;
}

.greyBackground {
    background-color: #fbfbfb;
}

.textCenter{
    text-align: center;
    margin-top: 5%;
}