@media screen and (max-width: 768px) {
    header {
        height: 100vh;
    }
    .visible-lg {
        display: none;
    }
    .visible-lg .responsive {
        background-color: aqua;
    }
    .m-menu-link {
        display: flex;
    }
    .navigation {
        height: 10vh;
        width: 100%;
        align-items: flex-end;
    }
    .info {
        margin-top: 10%;
        height: auto;
    }
    .infoText p {
        font-size: 15px;
    }
    .infoText h2 {
        font-size: 21px;
        margin-top: 5%;
    }
    .infoBox,
    .infoBox,
    .buttonsMain a {
        width: 45%;
    }
    .infoBox:nth-child(3),
    .infoBox:nth-child(4) {
        margin-top: 4%;
    }
    .infoText,
    .infoBoxes,
    .applicationForm,
    .contactInformation,
    .criterion {
        width: 100%;
    }
    .buttonsMain {
        height: 13vh;
    }
    .applicationForm {
        display: flex;
        justify-content: center;
    }
    .title h1 {
        font-size: 20px;
    }
    #applicationButton {
        margin: 0 auto;
    }
    .infoAboutBox {
        height: 170px;
    }
    .applicationForm a {
        margin: 0 auto;
        margin-top: 3%;
    }
    .infoBox img {
        padding-top: 20px;
        height: 65%;
        margin: 0;
    }
    .contactInformation {
        margin-top: 15%;
        align-items: center;
        text-align: center;
    }
    .ourSocialNetworks {
        width: 30%;
    }
    footer {
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
    header {
        display: flex;
        align-content: space-around;
        height: auto;
    }
    section {
        height: auto;
    }
    .info {
        margin-top: 5%;
        height: auto;
    }
    .infoBox {
        width: 45%;
        margin: 0;
    }
    .navigation {
        height: 12vh;
        width: 100%;
    }
    .infoAboutBox {
        height: auto;
    }
    .infoText,
    .buttonsMain,
    .buttonsMain a,
    .infoBox {
        width: 100%;
    }
    .criterionBox {
        height: auto;
        width: 100%;
    }
    .title h1 {
        text-align: center;
        padding-top:10%;
    }
    .criterion {
        margin-top: 5%;
    }
    #dwnldPdfButton {
        margin: 0 auto;
        margin: 50px;
    }
    .buttonsMain a {
        margin-top: 5%;
    }
    .ourSocialNetworks {
        width: 50%;
    }
    .buttonsMain {
        height: auto;
    }
    .infoAboutBox {
        height: auto;
    }
    .infoBox p {
        font-size: 16px;
    }
    .infoBox img {
        width: 40%;
    }
    .infoBox:nth-child(3),
    .infoBox:nth-child(4) {
        margin-top: 0;
    }
}