@media screen and (max-width: 768px) {
    header {
        height: auto;
    }
    section {
        height: auto;
        padding: 50px 0;
    }
    h1 {
        padding: 0;
        margin: 0;
        text-align: left;
        font-size: 30px;
        padding-bottom: 40px;
    }
    .visible-lg {
        display: none;
    }
    .visible-lg .responsive {
        background-color: aqua;
    }
    .m-menu-link {
        display: flex;
    }
    .navigation {
        height: 10vh;
        width: 100%;
        align-items: flex-end;
    }
    .info {
        margin-top: 5%;
        height: auto;
    }
    .infoText p {
        font-size: 15px;
    }
    .infoText h2 {
        font-size: 21px;
        margin-top: 5%;
    }
    .infoBox {
        width: 45%;
    }
        .infoBoxes {
        justify-content: space-between;
    }
    .buttonsMain {
        height: 13vh;
        justify-content: space-between;
    }
    .buttonsMain a {
        width: 45%;
        margin: 0;
    }
    .infoBox:nth-child(3),
    .infoBox:nth-child(4) {
        margin-top: 4%;
    }
    
    .infoText,
    .infoBoxes,
    .applicationForm,
    .contactInformation
    {
        width: 100%;
    }
    .criterionBox {
        display: flex;
        justify-content: space-between;
    }
    .criterion:nth-child(1),
    .criterion:nth-child(3) {
        margin-right: 0;
    }
    .criterion {
        width: 45%;
    }
    .applicationForm {
        display: flex;
        justify-content: center;
    }
    #secondSection .title {
        width: 100%;
    }
    #applicationButton {
        margin: 0 auto;
    }
    .infoAboutBox {
        height: 170px;
    }
    .applicationForm a {
        margin: 0 auto;
        margin-top: 3%;
    }
    .infoBox{
        margin: 20px 0 20px;
        display: flex;
        flex-direction: column;
    }
    .infoBox img {
        padding-top: 20px;
        height: auto;
        margin: 0 auto;
        width: 40%;
    }
    .contactInformation {
        margin-top: 15%;
        align-items: center;
        text-align: center;
    }
    #trendsPdf .group {
        margin: 15px 0;
        width: 100%;
    }
    #trendsPdf .getPdf {
        width: 25%;
        margin: 0;
    }
    #trendsPdf h1 {
        width: 70%;
        padding: 0;
    }
    .ourSocialNetworks {
        width: 30%;
    }
    footer {
        text-align: center;
    }
    .topnav a {
        transition: 0ms;
    }
    .topnav a {
        font-size: 12pt;
    }
    .topnav a:first-child {
        display: none;
    }
    .topnav .responsive a:first-child {
        display: block;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: left;
        display: block;
        font-size: 15pt;
    }
    .topnav.responsive {
        position: relative;
        background-color: #fff;
        display: block;
    }
    .topnav.responsive a.icon {
        position: absolute;
        left: 0;
        top: 0;
        color: #fff;
        font-size: 12pt;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
        color: #757575;
        padding: 14px 16px;
        margin-right: 0;
    }
    .topnav.responsive a:nth-child(1) {
        background-color: #b86ba3;
        color: #fff;
        padding: 14px 16px;
    }
    .topnav.responsive .dropdown {
        float: none;
    }
    .topnav.responsive .dropdown-content {
        position: relative;
    }
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
    .priceBoxes {
        flex-direction: column;
    }
    .priceBox {
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .projectInfo h1 {
        margin-top: 0px;
    }
}

@media screen and (max-width: 425px) {
    h1 {
        padding: 0;
        margin: 0;
        text-align: left;
        font-size: 20px;
        padding-bottom: 20px;
    }
    h2 {
        font-size: 15px;
    }
    .container {
        height: auto;
    }
    header {
        display: flex;
        align-content: space-around;
        height: auto;
        padding: 50px 0;
    }
    section {
        height: auto;
    }
    #secondSection .title {
        width: 100%;
    }
    .topnav {
        margin: 0;
    }
    .info {
        margin-top: 5%;
        height: auto;
    }
    .infoBox {
        width: 45%;
        margin: 0;
    }
    .navigation {
        height: 12vh;
        width: 100%;
    }
    .infoText,
    .buttonsMain,
    .buttonsMain a,
    .infoBox,
    .infoBoxes {
        width: 100%;
    }
    .criterionBox {
        height: auto;
        width: 100%;
    }
    .applicationForm h2 {
        text-align: center;
    }
    .criterion {
        margin: 0 0 30px;
        width: 100%;
    }
    .criterion:nth-child(1),
    .criterion:nth-child(3) {
        margin-right: 0;
    }
    .buttonsMain a {
        margin-top: 5%;
    }
    .ourSocialNetworks {
        width: 50%;
    }
    .buttonsMain {
        height: auto;
        padding-bottom: 30px;
    }
    .infoAboutBox {
        height: auto;
    }
    .infoBox p {
        font-size: 16px;
    }
    .infoBox img {
        width: 40%;
        margin: 0 auto;
    }
    .infoBox:nth-child(3),
    .infoBox:nth-child(4) {
        margin-top: 0;
    }
    .infoBox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 0 25px;
    }
    .project,
    .project img {
        width: 100%;
    }
    #trendsPdf .group {
        margin: 15px 0;
        width: 100;
    }
    #trendsPdf .getPdf {
        width: 100%;
        margin: 0;
    }
    #trendsPdf h1 {
        width: 100%;
    }
    .mockUp {
        width: 100%;
    }
    .customWebProjects h1 {
        padding: 0;
        margin: 0 0 50px;
    }
    .customProjectPrice .projectInfo {
        width: 100%;
    }
    .customProjectPrice p:last-child {
        padding-bottom: 30px;
    }
    .projectDescription {
        padding: 0;
        width: 100%;
    }
    .projectDescription h2 {
        font-size: 30px;
    }
    .priceBoxes {
        margin: 0;
    }
    .priceBox {
        width: 100%;
        margin-bottom: 30px;
    }
}